body {
    font-family: sans-serif;
    background-color: black;
    margin: 0;
  }
  
  /* //USED */
  .input-title {
    height: 40px;
    width: 95%;
    margin: 5px 0px 10px 0px;
    padding-left: 20px;
    border-radius: 10px;
  }
  
  .input-desc {
    height: 40px;
    width: 95%;
    margin: 5px 0px 10px 0px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 10px;
  }
  .form-label, .form-p {
    margin-left: 10px;
  }

  .submit-button {
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;
    display: block;
    margin: 10px auto 0px auto;
  }
  
  .submit-button:hover {
    padding: 12px 50px;
    font-size: 0.8em;
    color: #1db954;
    display: block;
    margin: 10px auto 0px auto;
  }

  /* //END USED */


/* //USED */
  .login-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('/public/images/cover.jpg');
    min-height: 650px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }


/* USED */
.logout-button {
  padding: 10px 50px;
  font-weight: bold;
  color: #1db954;
  background-color: white;
  border: 2px solid #1db954;
  border-radius: 30px;
  display: block;
  margin-top: 20px;
}

.logout-button:hover {
  color: white ;
  background-color: #1db954;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}