body {
    font-family: sans-serif;
    background-color: black;
    margin: 0;
  }
  
  .playlist-container {
    margin: 40px auto 10px auto;
    width: 35%;
    color: white;
    padding: 15px 15px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 7%, rgba(30,22,57,1) 88%, rgba(50,35,97,1) 96%, rgba(66,48,128,1) 100%);
    border-radius: 20px;
  }
  
  .playlist-container h1 {
    text-align: center;
  }
  
  img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .input-title {
    height: 40px;
    width: 95%;
    margin: 5px 0px 10px 0px;
    padding-left: 20px;
    border-radius: 30px;
  }
  
  .input-desc {
    height: 40px;
    width: 95%;
    margin: 5px 0px 10px 0px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 30px;
  }
  .form-label {
    margin-left: 10px;
  }
  
  .submit-button {
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;
    display: block;
    margin: 10px auto 0px auto;
  }
  
  .submit-button:hover {
    padding: 12px 50px;
    font-size: 0.8em;
    color: #1db954;
    display: block;
    margin: 10px auto 0px auto;
  }

  .tracks-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    margin-top: 30px;
  }
  
  .song-container {
    margin: 30px 14px;
    flex: 0 1 20%;
    padding: 20px 20px;
    background: linear-gradient(
      180deg,
      hsla(123, 21%, 45%, 1) 0%,
      hsla(84, 16%, 18%, 1) 0%,
      hsla(0, 0%, 0%, 1) 100%
    );
    border-radius: 10px;
  }

  .song-container:hover{
    background: #010d02;
  }

  .song-container img {
    width: 100%;
    border-radius: 10px;
  }
  
  .song-container p,
  h4 {
    text-align: center;
  }
  
  .title {
    font-weight: bolder;
    color: white;
    margin-bottom: -12px;
  }
  
  .artist {
    color: gray;
    font-weight: bold;
  }
  
  .album {
    color: white;
    margin-bottom: -12px;
  }

  .year {
    color: white;
  }
  
  .button-select {
    padding: 5px 40px;
    color: white;
    background-color: #1db954;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
  }
  
  .button-select:hover {
    background-color: #216e3c;
    font-size: 20px;
    font-weight: bold;
  }

  .tracklist-table {
    color: white;
    margin: 40px 40px;
    padding: 20px 30px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 7%, rgba(30,22,57,1) 88%, rgba(50,35,97,1) 96%, rgba(66,48,128,1) 100%);
    border-radius: 10px;
  }

  .tracklist-table-none {
    display: none;
  }

  .tracklist-table table {
    width: 100%;
  }

  .tracklist-table h1 {
    font-size: 2.5em;
  }

  .tracklist-table table thead,tbody {
    text-align: left;
  }


  .track-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .track-image img {
    width: 60px;
    height: 60px;
  }

  .title-and-artist {
    margin-left: 10px;
  }
  .title-and-artist .artist {
    color: grey;
  }

  .button-play {
    padding: 5px 40px;
    color: white;
    background-color: #1db954;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
  }

  .button-play:hover {
    padding: 5px 40px;
    color: black;
    background-color: white;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
  }

  .login-container {
    margin: 10px auto;
    width: 35%;
    color: white;
    padding: 0 15px;
  }

  .login-container h1 {
    text-align: center;
  }

  .login-button {
    padding: 10px 30px;
    font-weight: bold;
    color:white;
    background-color: #1db954;
    border: none;
    border-radius: 30px;
    display: block;
    margin: 10px auto 0px auto;
  }

  .login-section-none {
    display: none;
  }

  .search-tracklist-container {
    color: white;
  }

  .search-container {
    margin: 0 auto;
    width: 50%;
  }

  .search-section {
    display: flex;
    
    margin-top: 20px;
}

.search-section input {
    height: 40px;
    width:100%;
    border-radius: 30px;
    padding-left: 20px;

}

.search-button {
    padding: 10px 30px;
    background-color: #1db954;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    border: 2px solid #1db954;
    border-radius: 30px;
}
.search-button:hover {
    background-color: white;
    border: 2px solid #1db954;
    color: #1db954;
}
.not-found {
  display: none;
}

.search-tracklist-container .not-found-show {
  text-align: center;
}

.result-font {
  color: white;
  margin-left: 50px;
  margin-bottom: -35px;
}